{% extends 'base.html'%}

{% block content %}

{% if request.GET.command == 'verification' %}
<div class="container mx-auto alert alert-info text-center" role="alert" style="    margin: 50px 0px;">
    Thank you for signup. We have sent you a verification email to your email address {{request.GET.email}}
<br><br>
Already verified <a href="{% url 'login' %}">Login</a>

</div>
{% else %}
    <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        {% include 'include/alerts.html'%}
          <div class="card-body">
          <h4 class="card-title mb-4">Sign in</h4>
          <form method="POST" action="{% url 'login' %}">{% csrf_token %}
              <div class="form-group">
                 <input type="email" class="form-control" placeholder="Email Address" name="email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password">
              </div>
              
              <div class="form-group">
                  <a href="{% url 'forgetpassword' %}" class="float-right">Forgot password?</a> 
               
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Login  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
    </div> <!-- card .// -->
    
     <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
     <br><br>
    
</section>
{% endif %}    
{% endblock %}